name: Test

on:
  push:
    branches: [main]
  pull_request:

jobs:
  unit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: 'pip'
      - run: |
          sudo apt-get install -y tesseract-ocr tesseract-ocr-eng
          pip install -e ".[dev,test]"
      - run: make proto
      - run: make lint
      - run: make typecheck
      - run: make test-unit
      - run: cz check --rev-range origin/${{ github.event.pull_request.base.ref }}..HEAD
        if: github.event_name == 'pull_request'

  e2e:
    runs-on: ubuntu-latest
    needs: unit
    steps:
      - uses: actions/checkout@v4
      - run: make test-e2e
